<%- include('./templates/header') %>
    <section class="container content p-5">
        <a href="/" class="btn btn-primary">Go back</a>
        <h1><%= data.car.name %></h1>
        <p>Year: <%= data.car.year %></p>
    </section>
<%- include('./templates/footer') %>
