<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title><%=data.page_title%></title>
        <link href="/css/bootstrap/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/css/styles.css">
        <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
        <script src="/js/jquery-3.6.1/jquery-3.6.1.min.js"></script>
        <script src="/js/scripts.js"></script>
    </head>
    <body>
    <section id="notification" class="container-fluid p-0"></section>

    <% if (data.profiler) { %>
        <section id="profiler" class="mt-5 container p-5 border border-secondary">
            <pre id="profiler-values" style="margin: unset;"><%=JSON.stringify(data.profiler, undefined, 2)%></pre>
        </section>
    <% } %>